#navcss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  
  #navcss li {
    margin-right: 20px;
  }
  
  #navcss li:last-child {
    margin-right: 0;
  }
  
  #navcss a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  